html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
